.UserCard {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(106, 116, 223, 0.838)
  }
  .UserProfile{
    display: flex;
}
  .Userprofile-image {
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(201, 201, 209, 0.838);
    border-color:aqua;
  }

  .Userprofile-details {
    margin-top: 5px;
    margin-left: 14px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.838);
    border-radius: 5px;
  }
  
  .Userbuttons {
    margin-top: 20px;
    align-items: center;
  }
  
  .Userbuttons button {
    margin-right: 10px;
    /* padding: 8px 12px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Userbuttons button:hover {
    background-color: #f0f0f0;
  }
  .ConnectBtn button:hover {
    background-color: rgb(66, 174, 66); 
    color: white;
  }
  .ConnectBtn{
    background-color: rgb(66, 174, 66); 
    color: white;
    margin: 5px;
    padding: 20px;
    width: 28%;
  }
  .ViewProfile{
    background-color: rgb(4, 72, 131); 
    color: white;
    padding: 20px;
    width: 35%;
  }
  .Close{
    background-color: rgb(214, 28, 8); 
    color: white;
    padding: 20px;
    width: 28%;

  }
  .ProfilePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfilePopup-content {
    background-color: #202020;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ProfilePopup-content h2 {
    margin-top: 0;
}

.ProfilePopup-content p {
    margin-top: 5px;
}


.Close:hover {
    background-color: #cc0000;
}
.badge{
  background-color: #6f5f5f;

}