.chat-screen-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure full height */
}

.chat-content {
  display: flex;
  flex: 1; /* Fill remaining space */
}

.chat-list {
  flex: 0 0 240px; /* Fixed width of 200px for the chat list */
  border-right: 1px solid #cccccc32; /* Optional: Add a border between chat list and chat screen */
  padding: 10px;

  overflow-y: auto; /* Allow vertical scrolling if needed */
}
.chat-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex-grow: 1;
}

.profile-name {
  font-weight: bold;
}

.last-message {
  color: #777;
}


.chat-screen {
  flex: 2; /* Take up other half of the remaining space */
  padding: 10px;
}

.message-list {
  height: calc(100% - 50px); /* Adjust height of message list */
  overflow-y: auto; /* Allow vertical scrolling if needed */
}

/* Add styling for message input form and other elements as needed */
.message-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #cccccc60;
}
.message-profInfo{
  display: flex;
  align-items: center;
}
.back-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}