.navbar {
    display: flex;
    background-color: #fffbfb; /* Example background color */
    padding: 1px; 
    box-sizing: border-box;/* Example height */
  }
  .navbar1 {
    display: flex;
    background-color: #fffbfb; /* Example background color */
    padding: 1px; 
    margin-top: 70px;
    box-sizing: border-box;/* Example height */
  }
  .nav-item {
    color: white; /* Example text color */
    /*text-align: center; /* Centers text horizontally */
  }  
  .flex {
    background-color: rgb(253, 255, 255); 
    border: 0.5px solid #f0edf1; /* Border for the card */
    border-radius: 8px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(197, 13, 243, 0.1); /* Box shadow for the card */
    padding: 0px 10px; /* Padding inside the card */
    padding-top: 4px;
    align-items: center;
    justify-content: center;
  } 
  .topbar{
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    width: 100%;
  }

  .flex1 {
    /* flex: 1 20%;  */
    position: fixed;
    background-color: rgb(253, 255, 255); 
    flex-direction: column;
    border: 0.5px solid #f0edf1; /* Border for the card */
    border-radius: 8px; /* Rounded corners for the card */
    padding: 20px; /* Padding inside the card */
    width: 12%;
    height: 100%;
  } 
   .flex2 {
    flex: 1 70%;/*  Item 2, takes 50% of available space */
    background-color: rgb(244, 240, 242);
    margin-left: 250px;
  }
  .flex3 {
    flex: 1 22%; /* Item 3, takes 25% of available space */
    justify-content: right;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
  }
  .PostSearchBar{
    width: 80vh;
    border-color: rgb(244, 251, 251);
    margin-top: 10px;
  }
  .EmployeeSearchBar{
    margin-left: 300px;
    margin-top: 18px;
    width: 70vh;
  }
  .navProfImg{
    width: 40px;
    border-radius: 70%;
    margin-top: 18px;
    margin-left: 10px;
  }
  .navProfImg1{
    width: 35px;
    border-radius: 50%;
    margin-top: 18px;
    margin-left: 10px;
  }

  .flex5{
    background-color: rgb(114, 76, 137);
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
  }
  .flex4 {
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
  }
  
  .vertical-menu {
    display: flex;
    flex-direction: column;
  }
  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.profile1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5px;
    
    background-color: rgb(104, 58, 133);  
    border-radius: 5px;
}

.profile1 img {
    width: 50px; /* Adjust size as needed */
    border-radius: 50%; /* Ensure it's a circular shape */
    padding: 10px;
}

.vertical-menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    color:rgb(102, 96, 96);
    margin-bottom: 50px;
    padding: 10px;
}

.vertical-menu div {
    padding: 20px 10px; /* Adjust padding as needed */
    cursor: pointer; /* Provide a pointer cursor for better UX */
    align-items: left;
}
.vertical-menu a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the text color from the parent */
}

.vertical-menu div a.active,
.vertical-menu div:hover {
    background-color:  rgb(176, 169, 181); /* Change background color on hover */
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.dashboardTopSection{
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: center;
}
.dropdown{
  background-color: #ffffff;
  color: black;
  margin-left: 300px;
  width: 70vh;
}
/* .dropdown{
  border: none;
} */
.dropdown-row{
  cursor:pointer;
  text-align: start;
  margin: 10px 10px;
}
.profile-pic1 {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  border-color: azure;
}
.vertical-menu div.active {
    background-color:  rgb(114, 76, 137); /* Change background color on hover */
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
